<div align="right">
  <%= link_to '<font size="4"><b>編集</b></font>', :action => :edit %>
</div>
<hr>

<b>支店セット情報: </b>

<p>
<table width="100%">
  <tr>
    <th align="left" width="100px">支店セット</th>
    <td>
      <%= @set.name %>
    </td>
  </tr>
  <tr>
    <th align="left">適用開始年月</th>
    <td>
      <% y, m = Month.yyyy_mm(@set.startmonth) %>
      <%= y.to_s + '年' + m.to_s + '月' %>
    </td>
  </tr>
</table>
</p>

<p>
<b>支店一覧:</b>

<% form_for(@detail, :url => {:action => :update_detail, :id => @set.id}) do |f| %>
<%= f.hidden_field :id, :value => @detail.id %>
<table width="100%">
  <tr>
    <th width="30px">操作</th>
    <th align="left" width="70px">順序</th>
    <th align="left" width="250px">支店</th>
    <th align="left">範囲</th>
  </tr>
  <% @set.details.each do |d| %>
  <tr>
    <% if d.id == @detail.id %>
    <td><%= f.submit '更新' %></td>
    <td><%= f.text_field :sequence, :size => 5 %></td>
    <td><%= f.collection_select :siten_id, @sitens, :id, :name %></td>
    <td>
      <%= f.text_field :range_start, :size => 5 %> 〜
      <%= f.text_field :range_end, :size => 5 %>
    </td>
    <% else %>
    <td>
      <%= link_to (image_tag 'edit12.gif'), :action => :edit_detail,
        :id => @set.id, :siten_set_detail_id => d.id %>
      <%= link_to (image_tag 'delete12.gif'), {:action => :del_detail,
        :id => @set.id, :siten_set_detail_id => d.id},
        {:confirm => '本当に削除してよいですか?'} %>
    </td>
    <td><%= d.sequence %></td>
    <td><%= d.siten.name %></td>
    <td><%= d.range_start %> 〜 <%= d.range_end %></td>
    <% end %>
  </tr>
  <% end %>

  <tr>
  </tr>
</table>

<% end %>
</p>
