<div align="right">
  <%= link_to '<font size="4"><b>戻る</b></font>', :action => :show, :id => @set.id %>
</div>
<hr>

<table width="100%">
  <tr>
    <th>支店セット名</th>
    <td><%= @set.name %></td>
  </tr>
  <tr>
    <th>適用開始年月</th>
    <td><%= @set.startmonth %></td>
  </tr>
</table>
<hr>
<b>支店情報：</b>
<% form_for(@detail, :url => {:action => :add_siten, :id => @set.id}) do |d| %>
  <%= d.error_messages %>

  <table width="100%">
    <tr>
      <th>順序</th>
      <td><%= d.text_field :order, :size => 3 %></td>
    </tr>
    <tr>
      <th width="150px">支店</th>
      <td><%= d.text_field :siten_id, :size => 50 %></td>
    </tr>
    <tr>
      <th>範囲</th>
      <td>
        <%= d.text_field :range_start, :size => 3 %> 〜
        <%= d.text_field :range_end, :size => 3 %>
      </td>
    </tr>
  </table>
  <p>
    <%= d.submit '作成' %>
  </p>
<% end %>
