<div align="right">
  <%= link_to '<font size="4"><b>支店作成</b></font>', :action => :new %>
</div>
<hr>

<table width="100%">
  <tr>
    <th width="40px">操作</th>
    <th align="left">支店</th>
    <th align="left">短縮名</th>
    <th align="left">集計フラグ</th>
  </tr>

<% @sitens.each do |siten| %>
  <tr>
    <td>
      <%= link_to (image_tag 'edit12.gif'), :action => :edit, :id => siten.id %>
      <%= link_to (image_tag 'delete12.gif'), {:action => :delete, :id => siten.id}, {:confirm => '削除してよろしいですか？'} %>
    </td>
    <td>
      <%= siten.name %>
    </td>
    <td>
      <%= siten.dispname %>
    </td>
    <td>
      <%= if siten.summary_flag then '集計' else '実支店' end %>
    </td>
  </tr>
<% end %>
</table>

<br />
