<td class="nknumber"><%= nknumber(data.uriage) %></td>
<td class="nknumber"><%= nknumber(data.siire) %></td>
<td class="nknumber"><%= nknumber(data.sitenkan) %></td>
<td class="nknumber"><%= nknumber(data.kisyu) %></td>
<td class="nknumber"><%= nknumber(data.kimatu) %></td>
<td class="nknumber"><%= nknumber(data.zogen) %></td>
<td class="nknumber"><%= nknumber(data.arari) %></td>
<td class="nkrate"><%= nkrate(data.arari, data.uriage) %></td>
<td class="nknumber"><%= nknumber(data.hiyo_total) %></td>
<td class="nkrate"><%= nkrate(data.hiyo_total, data.uriage) %></td>
<td class="nknumber"><%= nknumber(data.zatusyunyu) %></td>
<td class="nknumber"><%= nknumber(data.eigyorieki) %></td>
<td class="nknumber"><%= nknumber(ruikei) %></td>

