<td class="nkrate"><%= nkrate(zisseki.uriage, zennen.uriage) %></td>
<td class="nkrate"><%= nkrate((zisseki.siire + zisseki.sitenkan),
                       (zennen.siire + zennen.sitenkan)) %></td>
<td></td>
<td></td>
<td class="nkrate"><%= nkrate(zisseki.kimatu, zennen.kimatu) %></td>
<td></td>
<td class="nkrate"><%= nkrate(zisseki.arari, zennen.arari) %></td>
<td></td>
<td class="nkrate"><%= nkrate(zisseki.hiyo_total, zennen.hiyo_total) %></td>
<td></td>
<td class="nkrate"><%= nkrate(zisseki.zatusyunyu, zennen.zatusyunyu) %></td>
<td class="nkrate"><%= nkrate(zisseki.eigyorieki, zennen.eigyorieki) %></td>
