<div align="right" class="page_menu">
  <%= link_to '分析',
    :action => :analysis, :id => @siten.id,
    :month => @serial %>
  |
  <%= link_to '年度実績',
    :action => :yearly, :id => @siten.id,
    :year => Month.year(@serial) %>
  |
  <%= link_to '前月',
    :action => :monthly, :id => @siten.id,
    :month => Month.prev(@serial) %>
  /
  <%= link_to '次月',
    :action => :monthly, :id => @siten.id,
    :month => Month.next(@serial) %>
  |
  <%= link_to '前年同月',
    :action => :monthly, :id => @siten.id,
    :month => Month.prev_year(@serial) %>
  /
  <%= link_to '次年同月',
    :action => :monthly, :id => @siten.id,
    :month => Month.next_year(@serial) %>
</div>

<table width="100%" class="monthly">
  <tr>
    <th colspan="2"></th>
    <th colspan="11" align="left"><span class="tangetu">単月</span></th>
    <th colspan="11" align="left"><span class="ruikei">累計</span></th>
  </tr>
  <tr>
    <th colspan="2"></th>
    <th width="4.5%">
      <%= link_to '昨年実績', :id => @siten.id,
        :month => Month.prev_year(@serial) %>
    </th>
    <th width="4.5%">予算
      <% if @siten.summary_flag == Siten::REAL %>
      <%= link_to (image_tag 'edit12.gif'), :action => :yedit,
      :id => @siten.id, :month => @serial %>
      <% end %>
    </th>
    <th width="4.5%">実績
      <% if @siten.summary_flag == Siten::REAL %>
      <%= link_to (image_tag 'edit12.gif'), :action => :zedit,
      :id => @siten.id, :month => @serial %>
      <% end %>
    </th>
    <th width="3%">実売率</th>
    <th width="4.5%">昨年対比</th>
    <th width="3%">昨対率</th>
    <th width="4.5%">予算対比</th>
    <th width="3%">目標率</th>
    <th width="4.5%">経理
      <% if @siten.summary_flag == Siten::REAL %>
      <%= link_to (image_tag 'edit12.gif'), :action => :kedit,
      :id => @siten.id, :month => @serial %>
      <% end %>
    </th>
    <th width="4.5%">経理差額</th>
    <th width="4.5%">経理対比</th>
    <!-- 累計 -->
    <th width="4.5%">昨年実績</th>
    <th width="4.5%">予算</th>
    <th width="4.5%">実績</th>
    <th width="3%">実売率</th>
    <th width="4.5%">昨年対比</th>
    <th width="3%">昨対率</th>
    <th width="4.5%">予算対比</th>
    <th width="3%">目標率</th>
    <th width="4.5%">経理</th>
    <th width="4.5%">経理差額</th>
    <th width="4.5%">経理対比</th>
  </tr>
  <tr>
    <th align="left" colspan="25">利益</th>
  </tr>
  <% (Zisseki::RIEKI_INPUT + Zisseki::RIEKI_VIEW).each do |ip| %>
    <%= render :partial => 'monthly_item', :locals => {:name => ip[0],
      :zennen => @zennen.send(ip[1]), :yosan => @yosan.send(ip[1]),
      :keiri => @keiri.send(ip[1]), :zisseki => @zisseki.send(ip[1]),
      :uriage => @uriage,
      :czennen => @czennen.send(ip[1]), :cyosan => @cyosan.send(ip[1]),
      :ckeiri => @ckeiri.send(ip[1]), :czisseki => @czisseki.send(ip[1]),
      :curiage => @curiage}%>
  <% end %>

  <tr>
    <th colspan="25" align="left">費用</th>
  </tr>
  <% (Zisseki::HIYO_INPUT + Zisseki::HIYO_VIEW).each do |ip| %>
    <%= render :partial => 'monthly_item', :locals => {:name => ip[0],
      :zennen => @zennen.send(ip[1]), :yosan => @yosan.send(ip[1]),
      :keiri => @keiri.send(ip[1]), :zisseki => @zisseki.send(ip[1]),
      :uriage => @uriage,
      :czennen => @czennen.send(ip[1]), :cyosan => @cyosan.send(ip[1]),
      :ckeiri => @ckeiri.send(ip[1]), :czisseki => @czisseki.send(ip[1]),
      :curiage => @curiage} %>
  <% end %>

  <tr>
    <th colspan="25", align="left">営業利益</th>
  </tr>
  <% (Zisseki::EIRI_INPUT + Zisseki::EIRI_VIEW).each do |ip| %>
    <%= render :partial => 'monthly_item', :locals => {:name => ip[0],
      :zennen => @zennen.send(ip[1]), :yosan => @yosan.send(ip[1]),
      :keiri => @keiri.send(ip[1]), :zisseki => @zisseki.send(ip[1]),
      :uriage => @uriage,
      :czennen => @czennen.send(ip[1]), :cyosan => @cyosan.send(ip[1]),
      :ckeiri => @ckeiri.send(ip[1]), :czisseki => @czisseki.send(ip[1]),
      :curiage => @curiage} %>
  <% end %>

  <tr>
    <th colspan="25", align="left">経常利益</th>
  </tr>
  <% (Zisseki::KEIZYO_INPUT + Zisseki::KEIZYO_VIEW).each do |ip| %>
    <%= render :partial => 'monthly_item', :locals => {:name => ip[0],
      :zennen => @zennen.send(ip[1]), :yosan => @yosan.send(ip[1]),
      :keiri => @keiri.send(ip[1]), :zisseki => @zisseki.send(ip[1]),
      :uriage => @uriage,
      :czennen => @czennen.send(ip[1]), :cyosan => @cyosan.send(ip[1]),
      :ckeiri => @ckeiri.send(ip[1]), :czisseki => @czisseki.send(ip[1]),
      :curiage => @curiage} %>
  <% end %>

</table>


