<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% title = if @title != nil then @title else controller.action_name end %>
  <title>NK Analyst: <%= title %></title>
  <%= stylesheet_link_tag 'nkanalyst' %>
</head>
<body>
  <div id="page">
    <div id="header">
      <table width="100%" border="0">
        <tr>
          <td width="320px" rowspan="3"><%= image_tag 'nk_title.gif' %></td>
          <td align="right">
            <b>ログアウト</b>
          </td>
        </tr>
        <tr>
          <td align="right">
          </td>
        </tr>
        <tr>
          <td align="right" valign="bottom">
            <font size="5"><b><%= title %></b></font>
          </td>
        </tr>
      </table>
    </div>
    <div id="body">
      <div id="menu">
        <p>
          <% year = (Month.month2serial(Time.now.strftime("%Y%m").to_i) / 100) %>
          <%= link_to '今年度実績', :controller => :pl, :action => :yearly,
            :id => 1, :year => year %><br />
          <%= link_to '支店メンテ', :controller => :sitens %><br />
          <%= link_to '支店セットメンテ', :controller => :sitensets %><br />
        </p>
        <p>
          <% @menu_set.details.each do |d| %>
          <%= link_to d.siten.dispname, :controller => :pl,
            :action => :monthly, :id => d.siten.id, :month => @serial %><br />
          <% end %>
        </p>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      ニッケン文具 (c)
    </div>
  </div>
</body>
</html>
