<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% title = if @title != nil then @title else controller.action_name end %>
  <title>NK Analyst: <%= title %></title>
  <%= stylesheet_link_tag 'nkanalyst', :media => 'all' %>
</head>
<body>
  <div id="page">
    <div id="header">
      <table width="100%" class="title">
        <tr>
          <td width="320px" rowspan="3" class="header">
	    <%= image_tag 'nk_title.gif' %>
	  </td>
	  <td width="3px" rowspan="3" class="header_separator"></td>
	  <td align="right" class="header">
	    <span class="menu_line">ログアウト</span> |
            <% year = (Month.month2serial(Time.now.strftime("%Y%m").to_i) / 100) %>
  	    <span class="menu_line">
              <%= link_to '今年度実績', :controller => :pl, :action => :yearly,
                :id => 1, :year => year %> |
            </span>
	    <span class="menu_line">
              <%= link_to '支店管理', :controller => :sitens %> |
	    </span>
	    <span class="menu_line">
              <%= link_to '支店セット管理', :controller => :sitensets %>
	    </span>
	  </td>
        </tr>
        <tr>
	  <td align="center" class="header" valign="bottom">
	    <span class="title"><%= @title %></span>
	  </td>
	</tr>
	<tr>
	  <td align="right" class="menu_line">
	    <% if @menu_set != nil %>
	    <table class="title">
              <tr>
            <% @menu_set.details.each do |d| %>
	      <% lb = if d.siten.id == @siten.id then "siten_lb1" else "siten_lb2" end %>
		<td class="<%= lb %>">
                  [ <%= link_to d.siten.dispname, :controller => :pl,
                  :action => :monthly, :id => d.siten.id, :month => @serial %> ]
		</td>
            <% end %>
	      </tr>
	    </table>
	    <% end %>
	  </td>
	</tr>
      </table>
    </div>
    <div id="body">
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      ニッケン文具 (c)
    </div>
  </div>
</body>
</html>
